@model MenuOnWebFinal.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial6)</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial1) <a href="https://go.microsoft.com/fwlink/?LinkId=403804">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial2)</a>
                @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial3)
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial4) @p.Caption @Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.ExternalLoginsListPartial5)">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
