@model MenuOnWebFinal.Models.RecipeAddModel

<div class="form-page">
    <div class="form-page--content">
        <div class="form-page--header">
            <span>@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit1)</span>
        </div>
        <div class="form-page--container">
            @using (Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { @class = "form-page--form", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)
                <label for="name">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit2)</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <label for="text">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit3)</label>
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                <label for="text">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit4) <span class="tip">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit5)</span>:</label>
                @Html.TextAreaFor(model => model.IngridietsString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IngridietsString, "", new { @class = "text-danger" })
                <button type="submit" class="button -dark-blue -darker-hover">@Html.Raw(MenuOnWebFinal.Resources.EnglishTexts.Edit6)</button>
            }
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ViewRecipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ImageFile)
            <label class="col-md-6 input-group">
                <input type="file" id="ImageFile" name="ImageFile" class="form-control">
                <span class="input-group-addon">Browse</span>
            </label>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IngridietsString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IngridietsString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IngridietsString, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>*@
